{% extends "catalog/base_generic.html" %}

{% block content %}
    <h2><strong>Author: </strong>{{author}}</h2>
    

    <div  style ="margin-left: 20px; margin-top:20px;">
        {% if author.date_of_birth %}
            <p>Date of birth: {{author.date_of_birth}} </p>
        {% endif %}
        {% if author.date_of_death %}
            <p>Date of death: {{author.date_of_death}} </p>
        {% endif %}
        <h2>Books</h2>
        {% for copy in books_by_author %}
            <p><strong><a href ="{%url 'book-detail' copy.id%}">{{copy}}</strong></a></p>
            <p>{{copy.summary}}</p>
        {% endfor %}
    </div>
{% endblock %}


